.wrapper {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 64px;
  background-color: hsl(239, 77%, 81%, .5);
  color: rgb(55, 54, 54);
}
.schedule {
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: hsl(152, 45%, 62%, .5);
  color: rgb(55, 54, 54);
}
.sidebar-left {
    width: 256px;
    height: 100%;
    background-color: hsl(56, 22%, 62%, .5);
    color: rgb(55, 54, 54);
}
.sidebar-right {
  width: 64px;
  height: 100%;
    background-color: hsl(300, 23%, 68%, .5);
    color: rgb(55, 54, 54);
}